<div class="wait">
  <div class="wait__text">
    <p class="wait__p">Получите документы по адресу:</p>
    <p class="wait__p">ул. Волгоградский проспект, 43</p>
  </div>
  <div class="wait__button">
    <%= link_to 'Вернуться назад', root_path, class: 'ui button purple fluid massive' %>
  </div>
</div>
