<div class="wait">
  <div class="wait__text">
    <span>Ожидание оператора</span>
  </div>
  <div class="wait__button">
    <%= link_to 'Вернуться назад', root_path, class: 'ui button purple fluid massive' %>
  </div>
</div>
