<div class="side-menu">
  <div class="side-menu-items">
    <a class="side-menu-item">
      <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
    <a class="side-menu-item">
      Topics
    <a class="side-menu-item">
      Friends
    </a>
  </div>
</div>

<div class="overlay hidden">
</div>
